#admin_btn {
    color: #FFF;
    /* float: right; */
    margin-top: 15px;
    margin-right: 0px;
    width: 158px;
    height: 23px;
    background: #19B3E7;
    border-radius: 6px;
    border: 1px solid #302683;
    font-size: 15px;
}

#admin_btn:hover {
    background: #375de7;
}
#title{
    font-weight:bold;
    text-align: left;
    font-size:15px;
}
.titre {
    font-weight: bold;
    font-size:15px;
    text-transform: uppercase;
    color:#0b689f;
    text-align: justify;
}
#message{
    width:100%;
}

input#name,input#email{
    width:100%;
}

h1{
    margin:15px auto;
}

.submit-btn {
    color: #FFF;
    /*float: right;*/
    margin-top: 15px;
    margin-right: 0px;
    padding-left: 6px;
    padding-top: 0px;
    width: 220px;
    height: 35px;
    background: #19B3E7;
    border-radius: 6px;
    border: 1px solid #302683;
    font-size: 15px;
}
.submit-btn:hover {
    background: #375de7;
}
footer{
    height:30px;
}
#preview {
    display:none;
    border: 1px solid #808080;
    border-radius: 3px;
    font-size: 14px;
}



/*#parent_popup {*/
    /*background: #000;*/
    /*height: 100%;*/
    /*opacity: 0.9;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*z-index: 100;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/
/*#popup {*/
    /*background-color: #00f;*/
    /*height: 200px;*/
    /*position: fixed;*/
    /*top: 100px;*/
    /*left: 40%;*/
    /*color: #f00;*/
    /*width: 300px;*/
/*}*/